/*******************************************************************************
#Font imports
*******************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

/*******************************************************************************
# Universal Box Sizing Reset with Inheritance
*******************************************************************************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*******************************************************************************
Page background and headings
*******************************************************************************/

body {
  background-image: url(/assets/svg/blue-line.svg), url(/assets/svg/red-line.svg);
  background-size: 100vw 1.5em, 32px 32px;
  background-repeat: repeat, repeat-y;
  background-position: 0 0, 64px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz'
  margin: 0;
}

h2 span {
  color: tomato;
}

/*******************************************************************************
Header
*******************************************************************************/

header {
  background-color: white;
}

/*******************************************************************************
Main navigation
*******************************************************************************/

nav {
  background-color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
  width: 50%;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 0.5em;
}

nav li:nth-child(3) {
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
    margin-left: 0.25em;
    position: relative;
    top: 0.2em;
}

nav li:nth-child(3) a:link {
  color: slategray;
  text-decoration: none;
}

nav li:nth-child(3) a:visited {
  color: slategray;
}

nav li:nth-child(3) a:hover,
nav li:nth-child(3) a:active {
  border-bottom-style: none;
  text-decoration: none;
}

/*******************************************************************************
Page quote
*******************************************************************************/

blockquote {
  font: 200%/1.5 Bradley Hand, Segoe Script, cursive;
  margin: 1.7em 0 0 0;
}

blockquote p {
  margin: 0;
}

blockquote cite {
  font: 80%/0.75 'Yanone Kaffeesatz';
  color: tomato;
  padding-left: 5%;
}

/*******************************************************************************
Links
*******************************************************************************/

a:link {
  color: tomato;
  text-decoration: none;
  transition: .3s border-bottom;
}

a:visited {
  color: tomato;
}

a:hover, a:active {
  border-bottom: 1px dotted tomato;
}

/*******************************************************************************
Misc
*******************************************************************************/

main {
  margin: 0 7%;
}

/* 700px and up */
@media (min-width: 43.75em) {
  main {
    margin: 0 13.4933%;
  }
}
